src/main/resources/org/ccsds/pais/ccsds-pais-sip-model.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
   xmlns:sip="http://www.ccsds.org/SubmissionInformationPackage"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.ccsds.org/SubmissionInformationPackage"
   elementFormDefault="unqualified"
   attributeFormDefault="unqualified">

   <xsd:include schemaLocation="ccsds-pais-common-types.xsd" />

   <xsd:element name="sipGlobalInformation" type="sip:sipGlobalInformationType">
      <xsd:annotation>
         <xsd:documentation>
            Parent element supporting the unique identification of each SIP
            within the Producer-Archive Project and the ability to optionally
            track the sequencing of SIPs.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>

   <xsd:element name="sipTransferObject" type="sip:sipTransferObjectType">
      <xsd:annotation>
         <xsd:documentation>
            Parent element that conceptually holds two types of containers. The
            Transfer Object container consists of: one  Transfer Object
            Identification and Status container; and one or more Transfer
            Object Group containers.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>

   <xsd:element name="sipTransferObjectGroup"
      type="sip:sipTransferObjectGroupType">
      <xsd:annotation>
         <xsd:documentation>
            Conceptually holds three types of containers. These are the
            Transfer Object Group Identification container; any number of other
            Transfer Object Group containers; and any number of Data Object
            containers.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>

   <xsd:element name="sipTransferObjectToDelete"
      type="sip:sipTransferObjectToDeleteType">
      <xsd:annotation>
         <xsd:documentation>
            Composed of one or more elements giving the identification of the
            Transfer Objects previously sent to the Archive that must be
            deleted by the Archive.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>

   <xsd:element name="sipDataObject" type="sip:sipDataObjectType">
      <xsd:annotation>
         <xsd:documentation>
            Conceptually holds two containers. These are the: Data Object
            Identification container; and Byte Stream container.
         </xsd:documentation>
      </xsd:annotation>
   </xsd:element>

   <xsd:complexType name="sipGlobalInformationType">
      <xsd:sequence>
         <xsd:element name="sipID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  Identifier of the delivered SIP within the context of the
                  given Producer-Archive Project. If there are multiple Producer
                  Sources submitting SIPs within a single Producer-Archive
                  Project, this SIP ID must be unique across all such Producer
                  Sources. It is inserted during SIP construction. The form
                  shall be agreed between Producer and Archive, but the
                  identifier shall be generated by the Producer. The Archive
                  shall check uniqueness.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="producerSourceID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  Identifier of the Producer Source sufficient to
                  enable the Archive to identify the origin of the SIP and to
                  send an acknowledgement. There may be multiple Producer
                  sources sending SIPs to the Archive within a given Producer-
                  Archive Project. The form of the Producer Source ID shall be
                  agreed between Producer and Archive.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="producerArchiveProjectID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  Identifier of the Producer-Archive Project that
                  distinguishes the project from all other Producer-Archive
                  Projects undertaken by this Archive. This ID shall be provided
                  by the Archive for use in the SIPs.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="sipContentTypeID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  Identifier of the specification that defines which Transfer
                  Object Types (i.e., Descriptor IDs) are allowed within this
                  SIP, as well as their occurrence within the SIP.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="sipSequenceNumber" type="xsd:integer"
            minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>
                  A number indicating the order in which the SIP has been sent.
                  This number is unique within the combined context of the
                  Producer-Archive Project and Producer Source ID. This becomes
                  mandatory for all SIPs sent by a Producer Source if any of the
                  Transfer Objects to be provided by the Producer Source have a
                  Descriptor that does not specify a unique value for the number
                  of Transfer Objects to be delivered. It shall be generated by
                  the Producer.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="any" type="sip:extensionType"
            minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>
                  Allows a conforming XML document to have any additional XML
                  elements at this point in its structure.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="sipTransferObjectType">
      <xsd:sequence>
         <xsd:element name="descriptorID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  An identifier of the Transfer Object Type Descriptor that
                  describes this type of Transfer Object. This is obtained from
                  the MOT.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="transferObjectID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  A unique identifier for each delivered Transfer Object within
                  the Producer-Archive Project. It is inserted during SIP
                  building. The form shall be agreed between Producer and
                  Archive. It shall be generated by the Producer. Uniqueness
                  shall be checked by the Archive.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lastTransferObjectFlag" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>
                  An indicator specifying that this Transfer Object is the last
                  Transfer Object of this type (i.e., within the scope of this
                  Descriptor) being delivered by this Producer Source. This
                  element is particularly useful when the number of Transfer
                  Objects to be delivered is not known in advance. If used with
                  a single Producer Source for Transfer Objects of this type,
                  this flag eliminates the need for an additional contact
                  between the Archives and the Producer Source to verify that
                  all such Transfer Objects have been received. If there are
                  multiple Producer Sources that may be delivering Transfer
                  Objects of this type, the Archive may or may not need to
                  contact these Producer Sources to determine when all such
                  Transfer Objects have been sent and received.
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="TRUE" />
                  <xsd:enumeration value="FALSE" />
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="replacementTransferObjectID"
            type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>
                  An identifier of the Transfer Object ID of a previously sent
                  Transfer Object that is to be replaced by this Transfer
                  Object.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="any" type="sip:extensionType"
            minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="sipTransferObjectGroupType">
      <xsd:sequence>
         <xsd:element name="associatedDescriptorGroupTypeID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  The identifier of the most closely associated group
                  description within the associated Descriptor. If this group
                  is an instance of a Transfer Object Group Type as specified in
                  the Descriptor, then the value of this element is the Transfer
                  Object Group Type ID of that Transfer Object Group Type. If
                  this group is an instance that is part of a data structure
                  transferred under a Transfer Object Group Type whose Transfer
                  Object Group Structure Name has the value 'undescribed', then
                  the value of this Associated Descriptor ID is the Transfer
                  Object Group Type ID of that Transfer Object Group Type.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:choice minOccurs="0">
            <xsd:element name="transferObjectGroupInstanceName"
               type="xsd:string">
               <xsd:annotation>
                  <xsd:documentation>
                     A name given to the group, such as a directory name, that
                     is associated with the Transfer Object Group instance. It
                     shall be provided by the Producer. If the group has been
                     modeled as a directory (i.e., Structure Name =
                     'directory'), it is the name of the directory excluding any
                     path information.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="transferObjectGroupPreservationName"
               type="xsd:string">
               <xsd:annotation>
                  <xsd:documentation>
                     A name given to the group, such as a directory name, that
                     is to be preserved by the archive in association with the
                     Transfer Object Group instance. If the group has been
                     modeled as a directory (i.e., Structure Name =
                     'directory'), it is the name of the directory excluding any
                     path information.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:choice>
         <xsd:element name="any" type="sip:extensionType"
            minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="sipDataObjectType">
      <xsd:sequence>
         <xsd:element name="associatedDescriptorDataID"
            type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  The identifier of the most closely associated data description
                  within the associated Descriptor. If this is an instance of a
                  Data Object Type defined in the Descriptor then this is the
                  Data Object Type ID of that Data Object Type. If this is an
                  instance of a Transfer Object Group Type defined in the
                  Descriptor to be encoded and thus it results in a single Data
                  Object, then this is the Transfer Object Group Type ID of that
                  Transfer Object Group Type. If this is an instance of a Data
                  Object that is transferred within the context of a Descriptor
                  defined Transfer Object Group Type whose Transfer Object Group
                  Type Structure Name has the value 'undescribed', then this is
                  the Transfer Object Group Type ID of that Transfer Object
                  Group Type.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dataObjectPreservationName"
            type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>
                  A name to be preserved in association with the Data Object
                  instance. When used it tells the Archive exactly what name is
                  to be preserved in association with the byte stream. It is
                  provided by the Producer.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="any" type="sip:extensionType"
            minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="sipTransferObjectToDeleteType">
      <xsd:sequence maxOccurs="unbounded">
         <xsd:element name="transferObjectToDeleteID" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>
                  An identifier of the Transfer Object ID of a previously sent
                  Transfer Object that is to be deleted by the Archive.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="any" type="sip:extensionType" minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
